<div class="container mb-4">
  <div class="row col-lg-12" *ngFor="let movie of searchItem; let i = index">
<div class="row mt-4">
    <div class="col-lg-6 mt-4">
      <img class="img-fluid" [src]="movie.backdrop">
    </div>
    <div class="col-lg-6 mt-4">
    <h2 class="text-white fw-bolder pb-4">{{movie.title}} <span class="rate">({{movie.imdb_rating}})</span></h2>
    <ngb-rating class="fs-1" [readonly]=true [(rate)]="movie.imdb_rating"></ngb-rating> <br>
    <span>{{movie.released_on |date}}</span> | <span>{{movie.length}}</span> | <span>{{movie.director}}</span>
    <p class="text-white cast pt-2 pb-3">{{movie.cast}}</p>
    <p class="text-white">{{movie.overview}}</p>
    </div>
    </div>
  </div>
</div>
  <div *ngIf="searchItem.length == 0">
    <h2 class="text-center text-white mt-5 fs-1">No Result found.</h2>
  </div>

