.movie {
  position: relative;
  overflow: hidden;
}

img {
  transition: transform .6s;
}

.movieDetail{
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: top 1s;
  padding: 10px;
  overflow: hidden;
}
.movieDetail h4 {
  padding: 10px;
  background-color: rgba(220, 20, 60, 0.3);
}

.movie:hover img {
  transform: scale(1.2, 1.2);
}

.movie:hover .movieDetail {
  top: 0%;
}
